/* input search  */
  input {
    border: 1px solid #dfe1e5;
    border-radius: 10px;
  
    width: 50%;
    height: 50px;
  
    padding: 20px;  
    font-size: 20px;
  }
  
  input:focus {
    outline: none;
  }
  
  
  .topic_search{
    margin-top: 1rem;
  }
